<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ContentManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sitestyle.css" />
    <title>Mer än bara golf - Adminstration</title>
    <script src="https://cdn.tiny.cloud/1/3upkwo2x4ld645z7kh2cg6qeloaygttrcdt04dq7ld7vp6f0/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/ckeditor.js"></script>
    <style>
        /*Textbox*/
        .ck-editor__editable {
            min-height: 400px;
            max-height: 400px;
            min-width: 460px;
        }
        /*Toolbar*/
        .ck-editor__top {
            min-width: 460px;
        }

        .ck-content .text-tiny {
            font-size: 1em;
        }

        .ck-content .text-small {
            font-size: 1em;
        }

        .ck-content .text-big {
            font-size: 1.4em;
        }

        .ck-content .text-huge {
            font-size: 1.8em;
        }
    </style>
</head>
<body style="height:100%;">
    <header>
        <div class="navbar navbar-expand-sm" style="background-color:#292a2c;">
            <div class="row mw-100 mh-100">
                <a class="navbar-brand p-2" style="margin-left:2vw;" asp-area="" asp-controller="UnderPage" asp-action="Index">
                    <img height="35" width="200" src="~/Icons/header-logo.png" alt="Kan ej ladda bilden" />
                </a>
                <img style="margin-top:0.7vw;margin-left:32vw;margin-right:0.5vw;" height="20" width="20" src="~/Icons/amv-symbol.png" alt="Kan ej ladda bilden" />
                <p style="color:#8b8c8e;margin-top:0.6vw;">CMS</p>
            </div>
        </div>
    </header>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row mw-100 mh-100">
            <div class="col-auto" style="background-color:#3f4044;">
                <div class="row" style="height:2vw;border-bottom:1px solid #5b5c60;">
                    <div class="col" style="padding-left: 1.2vw;">
                        <a class="nav-link text-white" style="font-size:0.6vw;" asp-area="" asp-controller="UnderPage" asp-action="Index">Innehåll</a>
                    </div>
                </div>
                <div class="row" style="height:2vw;border-bottom:1px solid #5b5c60;">
                    <div class="col" style="padding-left: 1.2vw;">
                        <a class="nav-link text-white" style="font-size:0.6vw;" asp-area="" asp-controller="StartPage" asp-action="Edit">Startsida</a>
                    </div>
                </div>
                <div class="row" style="height:2vw;border-bottom:1px solid #5b5c60">
                    <div class=" col" style="padding-left: 1.2vw;">
                        <a class="nav-link text-white" style="font-size:0.6vw;" asp-area="" asp-controller="Events" asp-action="Index">GolfEvent</a>
                    </div>
                </div>
                <div class="row" style="height:2vw;border-bottom:1px solid #5b5c60">
                    <div class=" col" style="padding-left: 1.2vw;">
                        <a class="nav-link text-white" style="font-size:0.6vw;" asp-area="" asp-controller="Adverts" asp-action="Index">Annonser</a>
                    </div>
                </div>
                <div class="row" style="height:2vw;border-bottom:1px solid #5b5c60">
                    <div class=" col" style="padding-left: 1.2vw;">
                        <a class="nav-link text-white" style="font-size:0.6vw;" asp-area="" asp-controller="Account" asp-action="UserAccount">Konto</a>
                    </div>
                </div>
                <div class="row" style="height:2vw;border-bottom:1px solid #5b5c60">
                    <div class=" col" style="padding-left: 1.2vw;">
                        <form class="form-inline" asp-controller="Account" asp-action="Logout">
                            <button type="submit" style="font-size:0.6vw;" class="nav-link btn btn-link text-white">Logga ut</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="main">
                    @RenderBody()
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div role="main">
                @RenderBody()
            </div>
        </div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/js/site.js" async></script>
    @RenderSection("Scripts", required: false)

<script>
        ClassicEditor
            .create(document.querySelector('#editor2'))
            .catch(error => {
                console.error(error);
            });

</script>
</body>
</html>
