@model IEnumerable<ContentManagement.Models.ContentManagement.TextContentModel>
@{
}
<div style="height:2vw;"></div>
<table>
    <tbody>
        <tr>
            <td>
                <h5><b style="color:#555555">Sidor Arkiv</b></h5>
            </td>
            <td style="padding-left:4vw;height:2vw;">
                <div style="height: 1.4vw; width: 4vw;background-color:#0293fc;text-align:center;border-radius:10%;">
                    <a asp-action="" style="color:white;font-size:0.6vw;">+ Ny Sida</a>
                </div>
            </td>
        </tr>

    </tbody>
</table>
<div style="height:0.8vw;"></div>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td style="font-weight:400;color:red;">
                    @Html.ActionLink("Ändra", "Edit", new { id = (item.Id) }, new { style = "color:blue;font-weight:bold;" })
                    <!--Html.ActionLink("Details", "Details", new { id = (item.Id)}) |
                    Html.ActionLink("Delete", "Delete", new { id = (item.Id) })-->
                </td>
            </tr>
        }
    </tbody>
</table>
