@model Users
@{
}

<div id="login">
    <div style="height:4vw;"></div>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-auto" style="background-color:#3f4044;border:2px solid #cab290;">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <div style="height:0.5vw;"></div>
                        <div class="row d-inline-block">
                            <label style=" width: 100%;color:white; text-align: left; display: inline-block;">
                                <img style="height:1vw;width:1vw;margin-top:-0.2vw;" src="~/Icons/amv-symbol.png" />
                                Nytt lösen för @User.Identity.Name
                            </label>
                        </div>
                        <div style="height:0.5vw;"></div>

                        <div class="form-group text-white" style="font-size:0.8vw;">
                            <label asp-for="Password" style="font-size:0.6vw;">Nytt lösenord</label><br>
                            <input asp-for="Password" class="form-control " style="font-size:0.6vw;width:10vw;height:1.5vw;">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group text-white" style="font-size:0.8vw;">
                            <label asp-for="ConfirmPassword" style="font-size:0.6vw;">Bekräfta lösenord</label><br>
                            <input asp-for="ConfirmPassword" class="form-control " style="font-size:0.6vw;width:10vw;height:1.5vw;">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn text-white p-0 text-center" onclick="location.href='@Url.Action("UserAccount")'" style="font-size: 0.4vw;width:3.8vw;height:1.2vw;background-color:#0293fc;">Avbryt</button>
                            <button type="submit" class="btn text-white p-0 text-center" style="font-size: 0.4vw;width:3.8vw;height:1.2vw;background-color:#0293fc;">Applicera</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




