@model UnderPage 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="MoveUp" asp-controller="UnderPage" asp-route-id="@Model.Id" data-ajax="true" data-ajax-method="POST">
    <input type="submit" value="Upp" class="btn-link" />
</form>