@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div style="height:1.5vw;"></div>
            <div class="row">   
                    
            </div>
            <div style="height:1.5vw;"></div>
                <textarea name="editor1"></textarea>
                <script>
                    CKEDITOR.replace('editor1');
                </script>
        </div>
        <div class="col"></div>
    </div>
</div>

