@{
    ViewData["Text"] = "Start".ToString();
}
<div class="container">
    <div style="height:1.5vw;"></div>
    <div class="centered-div mw-100 mh-100" style="border-bottom:2px solid black;">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <label style=" width: 100%; text-align: left; display: inline-block;">
                            <b style="color:#555555;font-size:0.8vw;">Event arkiv</b>
                            <button type="button" class="btn text-white p-0 text-center " onclick="location.href='@Url.Action("NewPage")'" style="font-size: 0.6vw;width:4vw;height:1vw;background-color:#0293fc;">Nytt Event +</button>
                        </label>
                    </div>
                    <div class="col-6">
                        <label style=" width: 100%; text-align: right; display: inline-block;">
                            <b style="font-size:0.5vw;margin-top:0.2vw;">Välj huvudmeny:</b>
                            <select data-live-search="true" class="selectpicker show-menu-arrow float-right;border:2px solid red;" style="font-size:0.5vw;width:10vw;margin-top:0.2vw">
                                <option>Start</option>
                                <option>Två</option>
                                <option>Tree</option>
                            </select>
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--List-->
    <table class="table" style="line-height:0.2vw;">
        <tbody>
            <tr style="background-color:#f4f4f4;">
                <td>
                    <a style="text-align: left;width:10vw;display:inline-block; font-size: 0.5vw; color: #515151;"><b>Inga tillgängliga event</b></a>
                </td>
                <td>
                    <row>
                        <a href=""><b style="text-align: right; width:100%; display: inline-block;font-size:0.5vw;">Ändra</b></a>&nbsp;<a href=""><b style="text-align: right; width:100%; display: inline-block;font-size:0.5vw;">Tabort</b></a>
                    </row>
                </td>
            </tr>

            @* @if (Model.Equals(null))
                {
                    <tr style="background-color:#f4f4f4;">
                        <td>
                            <a style="text-align: left;width:10vw;display:inline-block; font-size: 0.5vw; color: #515151;"><b>Inga sidor tillgängliga</b></a>
                        </td>
                        <td>
                            <a href=""><b style="text-align: right; width:100%; display: inline-block;font-size:0.5vw;">Lägg till sida</b></a>
                        </td>
                    </tr>
                }
                else
                {
                    @for (int i = 0; i < Model.Count; i++)
                    {

                        if (Model[i].TypeOfTitle.ToLower().ToString() == "h1")
                        {
                            <tr class="@(i % 2 == 0 ? "d0" : "d1")" style="line-height:0.2vw;">
                                <td>
                                    <a style="text-align:left;width:10vw;display:inline-block; font-size: 0.5vw; color: #515151;"><b>@Model[i].Content.ToString()</b></a>
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="Content" asp-action="EditPage">
                                        <b style="text-align: right; width:100%;  display: inline-block;font-size:0.5vw;">Ändra</b>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                }*@
        </tbody>
    </table>
</div>

