@model UserModel
@{
}
<div id="login">
    <div style="height:4vw;"></div>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-auto"  style="background-color:#3f4044;border:2px solid #cab290;">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <div style="height:0.5vw;"></div>
                        <div class="row">
                            <img style="margin-right:0.4vw;margin-top:0.3vw;height:1vw;width:1vw;" src="~/Content/Icons/amv-symbol.png" />
                            <h4 class="text-white" style="font-size:1.2vw;">Mer än bara golf</h4>
                        </div>
                        <div style="height:0.5vw;"></div>
                        <div class="form-group text-white" style="font-size:0.8vw;">
                            <label for="username" style="font-size:0.6vw;">Användarnamn:</label><br>
                            <input type="text" name="username" id="username" class="form-control " style="font-size:0.6vw;width:10vw;height:1.5vw;">
                        </div>
                        <div class="form-group"  style="font-size:0.6vw;">
                            <label for="password" class="text-white">Lösenord:</label><br>
                            <input type="text" name="password" id="password" class="form-control" style="font-size:0.6vw;width:10vw;height:1.5vw;">
                        </div>
                            <div class="form-group" style="height: 1.2vw; width:3.5vw;background-color:#0293fc;border-radius:5%;text-align:center;">
                                <a asp-action="" style="text-decoration:none;margin-top:0.2vw;"><p style="font-size: 0.7vw;" class="text-white">Logga in</p></a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

