@{
}
<div class="container">
    <div style="height:2vw;"></div>
    <table>
        <tbody>
            <tr>
                <td style="padding-right:1vw;">
                    <h6><b style="color:#555555">Sidor arkiv</b></h6>
                <td>
                <td style="padding-left:1vw;">
                    <div style="height:0.6vw; width:2.5vw;background-color:#0293fc;text-align:center;border-radius:5%;">
                        <a asp-action="" style="text-decoration:none;"><p style="font-size:0.4vw;" class="text-white">+ Ny Sida</p></a>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
    <div style="height:0.4vw;"></div>
    <table class="table">
        <tbody>
            <tr style="background-color:#f4f4f4;border-top:2px solid #b7b7b7;line-height:0.2vw;">
                <td>
                    <a style="font-size:0.5vw;color:#515151;"><b>Sidans Rubrik</b></a>
                </td>
                <td>
                    <a href=""><b style="margin-left:28vw;font-size:0.5vw;">Ändra</b></a>
                </td>
            </tr>
            <tr style="line-height:0.2vw;">
                <td>
                    <a style="font-size:0.5vw;color:#515151;"><b>Sidans Rubrik</b></a>
                </td>
                <td>
                    <a href=""><b style="margin-left:28vw;font-size:0.5vw;">Ändra</b></a>
                </td>
            </tr>
            <tr style="background-color:#f4f4f4;line-height:0.2vw;">
                <td>
                    <a style="font-size:0.5vw;color:#515151;"><b>Sidans Rubrik</b></a>
                </td>
                <td>
                    <a href=""><b style="margin-left:28vw;font-size:0.5vw;">Ändra</b></a>
                </td>
            </tr>
            <tr style="line-height:0.2vw;">
                <td>
                    <a style="font-size:0.5vw;color:#515151;"><b>Sidans Rubrik</b></a>
                </td>
                <td>
                    <a href=""><b style="margin-left:28vw;font-size:0.5vw;">Ändra</b></a>
                </td>
            </tr>
            <tr style="background-color:#f4f4f4;line-height:0.2vw;">
                <td>
                    <a style="font-size:0.5vw;color:#515151;"><b>Sidans Rubrik</b></a>
                </td>
                <td>
                    <a href=""><b style="margin-left:28vw;font-size:0.5vw;">Ändra</b></a>
                </td>
            </tr>
            <tr style="line-height:0.2vw;">
                <td>
                    <a style="font-size:0.5vw;color:#515151;"><b>Sidans Rubrik</b></a>
                </td>
                <td>
                    <a href=""><b style="margin-left:28vw;font-size:0.5vw;">Ändra</b></a>
                </td>
            </tr>
            <tr style="background-color:#f4f4f4;line-height:0.2vw;">
                <td>
                    <a style="font-size:0.5vw;color:#515151;"><b>Sidans Rubrik</b></a>
                </td>
                <td>
                    <a href=""><b style="margin-left:28vw;font-size:0.5vw;">Ändra</b></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>